body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    color: #e5e7eb;
    font-size: 18px;
}

.right-side img {
    width: 400px;
}

.hero {
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

ul {
   list-style-type: none;
}

.awesome {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
}

.header-links {
    display: flex;
    gap: 40px;
}

.below-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.left-side {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 100px 0px;
}

.buttons button {
    color: #f9faf8;
    background-color: #3882f6;
    border-color: #3882f6;
    border-style: solid;
    padding: 8px 24px;
    font-weight: bold;
    margin-top: 8px;
    border-radius: 4px;
}

.random-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-info h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 800;
}

.boxes {
    display: flex;
    gap: 50px;
    padding: 0 300px;
}

.boxes img {
    width: 150px;
    height: 150px;
}

.boxes p {
    color: grey;
}

